{% extends "mainApp/base.html" %}
{% load static %}
{% block titulo %}

{% endblock %}

{% block cambiar %}
<div class="card-body">
    <div class="card col-4">
        <div class="card-body">
            <h2>Inicia Sesión</h2>
            <form action="{% url 'Login' %}" method = "POST"> {% csrf_token %}
                
                {{ form.as_p }}
                
                <button type="submit">INICIAR SESION</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
