{% extends "mainApp/base.html" %}
{% load static %}


{% block titulo %}

{% endblock %}

{% block cambiar %}
<div class="card-body">
    <div class="card col-4">
        <div class="card-body">
            <h1 class ='mb-5'> Registrarse</h1>    
            <form action="{% url 'Register' %}" method = "POST"> {% csrf_token %}
                
                {{ form.as_p }}
                <div class="card-body">
                    <button class="btn btn-primary" type="submit">REGISTRARSE</button>
                    <a class="btn btn-primary" href="{% url 'List' %}">Volver</a>
                </div>
            </form>
        </div>
    </div>
</div>    
{% endblock %}
