{% extends "mainApp/base.html" %}
{% load static %}

{% block cambiar %}
<div class="container">
    <div class="row">
        <h3>Acerca de nosotros</h3>
        <div class="card-body">
            <p>¡Hola! ¡Gracias por visitarnos! Aquí les contaremos quiénes están detrás de este blog de viajes por Argentina.</p>

            <p>Somos Jose y Guido, dos personas que se conocen hace poco tiempo pero que nos unimos para armar este blog y compartir con ustedes nuestras
            experiencias en ruta.</p>

            <p>En el año 2018 comenzamos a viajar mas por nuestra querida y hermosa Argentina y actualmente, en 2022, estamos armando este blog para contarles los destinos que más nos gustaron y pasarles algunos tips que pueden resultarles útiles. La idea es que poco a poco podamos ir compartiendo nuestras experiencias, esperando que las lean y que, tal vez, se inspiren o les ayuden a viajar.
            <p>Si se quedan con ganas de más, o quieren enterarse novedades, pueden visitarnos en instagram y seguir explorando nuestras experiencias.</p>
                
            <p><b>¡¡Gracias por tu apoyo!!</b></p>


        </div>
        <div>
            <p>Guido Libertini
                <a href="#!"><img class="col-1" src="https://media.istockphoto.com/vectors/profile-pic-icon-isolated-on-white-background-vector-id1000410020?k=20&m=1000410020&s=170667a&w=0&h=RLc9QbevDvDhcZMNzQ_K52ypDf92M6ObPegwxFzyB1g=" alt="avatar" /></a>
                Juan José Pazos
                <a href="#!"><img class="col-1" src="https://media.istockphoto.com/vectors/profile-pic-icon-isolated-on-white-background-vector-id1000410020?k=20&m=1000410020&s=170667a&w=0&h=RLc9QbevDvDhcZMNzQ_K52ypDf92M6ObPegwxFzyB1g=" alt="avatar" /></a>
            </p>
        </div>
    </div>
</div>
{% endblock %}