{% extends "mainApp/base.html" %}
{% load static %}

{% block cambiar %}
<!---Aca deberia solo estar la navbar y tener opciones de crear nuevo articulo-->
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<div class="card-body">
    <div class="card col-7">
        <div class="card-body">
            <h2>Crear artículo</h2>

            <form id= "form_crear" enctype="multipart/form-data" method="POST">{% csrf_token %}
                
                {{ form.as_p }}
                <div class="card-body">
                    <div class="col-lg-6">
                        <input class="btn btn-primary" type="submit" value="Enviar">
                    
                        <a class="btn btn-primary" href="{% url 'List' %}">Volver</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
    
    


