{% extends "mainApp/base.html" %}
{% load static %}

{% block cambiar %}

    <h2>Borrar Artículo</h2>
    <div class="card-body">
        <form id= "form_del" method="POST">{% csrf_token %}
            <b><p style="color: red">¿Estás seguro que deseas borrar el articulo?</p></b>
                <div class="card col-4">
                    <div class="card-body">
                        <div class="small text-muted">{{ articulo.fecha_mod }}</div>
                        <h2 class="card-title">{{ articulo.titulo }}</h2>
                        <p class="card-text">{{ articulo.cuerpo|safe|truncatewords:"40" }}</p><!---mejorar el read more...-->
                        <a href="#!"><img class="card-img-top" src="{{ articulo.imagen.url }}" alt="..." /></a>
                    </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Confirmar">
            <a class="btn btn-primary" href="{% url 'List' %}">Volver</a>
        </form>
    </div>
    <div class="card-body">
            <div class="col-lg-6">        
                
            </div>
    </div>
{% endblock %}
