{% extends "mainApp/base.html" %}
{% load static %}

{% block cambiar %}
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div>
            <h3>Información útil para viajes</h3>
        </div>
            <!-- Nested row for non-featured blog posts-->
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href=""><img class="card-img-top" src="https://assets.iprofesional.com/cdn-cgi/image/w=880,f=webp/https://assets.iprofesional.com/assets/jpg/2018/12/470686.jpg" alt="Imagen de pasaporte" /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{ articulo.fecha_mod }}</div>
                            <h2 class="card-title h4">{{ articulo.titulo }}</h2>
                            <p class="card-text">¡Que tener en cuenta antes de viajar?<br>
                                Debemos saber que para viajar al interior del país solo te hará falta tu DNI vigente. 
                                Para viajar al exterior del país, debes tener el pasaporte vigente, y siempre verificar las páginas oficiales, ya que hay varios países que precisan visas específicas.</p>
                            <!---<a class="btn btn-primary" href="">Detalles →</a>--->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Dejamos unos articulos de informacion de viaje fijos--->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://www.redaccionmedica.com/images/faqs/cual-es-el-porcentaje-de-fallo-de-la-pcr.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{ articulo.fecha_mod }}</div>
                            <h2 class="card-title h4">{{ articulo.titulo }}</h2>
                            <p class="card-text">Viajar en épocas de covid.
                                Recomendamos chequear las páginas de turismo oficiales de cada provincia/país al que deseas viajar, ya que allí es donde vas a poder verificar realmente qué es requerido para el ingreso. 
                                Pueden pedirte: formularios específicos, PCR negativo dentro de las 48hs, 2 o màs dosis de vacuna, o todas ellas en conjunto, y dichas normas van actualizandose continuamente. 
                                Nuestro consejo: una semana antes de tu vuelo, ingresá a la página web correspondiente y actualizate.</p>
                            <!---<a class="btn btn-primary" href="">Detalles →</a>--->
                        </div>
                    </div>
                </div>  
    </div>  
</div>   
{% endblock %}
