{% extends "mainApp/base.html" %}
{% load static %}

{% block cambiar %}

    <!---<h2>Todos los articulos:</h2>--->
    {% if request.user.is_superuser  %}
        <div class="card-body">
            <a class="btn btn-primary" href="{% url 'Create' %}">Crear nuevo articulo</a>
        </div>
    {% endif %}
    {% for articulo in object_list %}
        <div class="row">
            <div class="col-6">
                <div class="card mb-4">
                    {% if articulo.imagen %}
                        <a href="#!"><img class="card-img-top" src="{{ articulo.imagen.url }}" alt="..." /></a>
                    {% else %}
                        <h4>Sin Imagen</h4>
                    {% endif %}
                    <div class="card-body">
                        <div class="small text-muted">{{ articulo.fecha_mod }}</div>
                        <h2 class="card-title">{{ articulo.titulo }}</h2>
                        <p class="card-text">{{ articulo.cuerpo|safe|truncatewords:"40" }}</p><!---mejorar el read more...-->
                        <a class="btn btn-primary" href="{% url 'Detail' articulo.id %}">Detalles →</a>
                        {% if request.user.is_superuser %}
                            <a class="btn btn-primary" href="{% url 'Edit' articulo.id %}">Editar</a>
                            <a class="btn btn-primary" href="{% url 'Delete' articulo.id %}">Borrar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
